.bg {
	background-image: url("https://shared.steamstatic.com/store_item_assets/steam/apps/1182900/page_bg_generated_v6b.jpg?t=1695817434");
}
.trailer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-video {
	width: 100%;
	max-width: 800px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.video-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.video-item {
	cursor: pointer;
	text-align: center;
}

.video-item video {
	display: block;
}

.video-item p {
	margin-top: 5px;
}
