.trailer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-video {
	width: 100%;
	max-width: 800px;
	margin-bottom: 20px;
}

.video-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.video-item {
	cursor: pointer;
	text-align: center;
}

.video-item video {
	display: block;
}

.video-item p {
	margin-top: 5px;
}
