<!-- Secondary Navbar -->
<nav class="navbar navbar-expand-lg secondary-navbar container navbar-dark">
	<div class="collapse navbar-collapse text-center" id="secondaryNavbar">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Library</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">New and Popular</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Trailers</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Categories </a>
				<ul class="dropdown-menu text-center category-navbar">
					<li><a class="dropdown-item text-warning" href="#">Action</a></li>
					<li><a class="dropdown-item text-warning" href="#">Shotters</a></li>
					<li><a class="dropdown-item text-warning" href="#">Role</a></li>
					<li><a class="dropdown-item text-warning" href="#">Aventure</a></li>
					<li><a class="dropdown-item text-warning" href="#">Sports</a></li>
					<li><a class="dropdown-item text-warning" href="#">Arcade</a></li>
					<li><a class="dropdown-item text-warning" href="#">Strategy</a></li>
					<li><a class="dropdown-item text-warning" href="#">Simulation</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">News</a>
			</li>
		</ul>
	</div>
	<form class="d-flex" role="search">
		<input class="form-control mx-1 search-bar" type="search" placeholder="Search" aria-label="Search" />
		<button class="btn btn-outline-light me-1" type="submit"><i class="bi bi-search"></i></button>
	</form>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#secondaryNavbar" aria-controls="secondaryNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</nav>

<!-- Main Image Section -->
<div class="main-image text-center">
	<div class="overlay">
		<h1>NEW GAMES</h1>
		<p>Now available</p>
	</div>
</div>
<main class="container my-4 main-bg">
	<div class="row justify-content-center">
		<div class="col-8 col-md-6 col-lg-2">
			<aside class="sticky-top bg-dark text-warning py-4 text-center">
				<h4 class="mb-3">Home Nav</h4>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#seccion-1">Top</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#carouselExample">Carrusel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#News">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#New Games">New Games</a>
					</li>
				</ul>
				<hr class="my-4" />
				<h4 class="mb-3">Categories</h4>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#categoria-1">Category 1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#categoria-2">Category 2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-decoration-underline" href="#categoria-3">Category 3</a>
					</li>
				</ul>
			</aside>
		</div>

		<!-- Contenido principal -->
		<div class="col-md-12 col-lg-10">
			<!-- Carrusel de imágenes -->
			<div id="carouselExampleAutoplaying" class="carousel slide mt-3 mt-lg-0" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../../../assets/multimedia/carrusel1.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel2.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel3.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel4.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel5.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel6.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel7.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
					<div class="carousel-item">
						<img src="../../../assets/multimedia/carrusel8.jpg" class="d-block w-100 img-caru" alt="..." />
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon control" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon control" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			<hr />
			<!-- Sección de noticias -->
			<h2 class="my-4" id="News">News</h2>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 1" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 1</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 1" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 1</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 3</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 4</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 5</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="News 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">News 6</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<!-- Sección de juegos -->
			<h2 class="my-4" id="New Games">New Games</h2>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="New Game 1" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 1</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src=".../../../assets/multimedia/fondoLogin.png" alt="New Game 2" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 2</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="New Game 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 3</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="New Game 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 4</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="New Game 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 5</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4">
						<img src="../../../assets/multimedia/fondoLogin.png" alt="New Game 3" class="card-img-top" />
						<div class="card-body">
							<h5 class="card-title">New Game 6</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
