.main-image {
	background-image: url("../../../assets/multimedia/imgInicio.png");
	background-size: cover;
	background-position: center;
	height: 80vh;
	position: relative;
}
.overlay {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}
.secondary-navbar {
	z-index: 1;
	position: absolute;
	width: 75%;
	left: 50%;
	transform: translateX(-50%);
}
.search-bar {
	width: 150px;
}
