.main-image {
	background-image: url("../../../assets/multimedia/imgInicio.png");
	background-size: cover;
	background-position: center;
	height: 90vh;
	position: relative;
}
.overlay {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.secondary-navbar {
	z-index: 1;
	position: absolute;
	width: 75%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0px 0px 20px 20px;
}
.category-navbar {
	z-index: 1;
	position: absolute;
	width: 75%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.9);
}
.search-bar {
	width: 150px;
}

.img-caru {
	height: 40vw;
}
.card {
	height: 400px;
}

.control {
	background-color: #000000;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}
.control:hover {
	background-color: darkblue;
}
.carousel-item {
	transition: transform 0.6s ease-in-out;
}

@media (min-width: 767px) and (max-width: 1023px) {
	.card {
		height: 450px;
	}
}
