<div class="bg">
	<p class="fs-1 container-fluid text-center text-warning">Haven Game Store</p>
	<div class="row gap-4 container-fluid d-flex justify-content-center pb-5">
		@for (game of datos; track game.id) {
		<div class="card text-center ms-4" style="width: 18rem">
			<img src="{{ game.frontPage }}" class="card-img-top frontPage" alt="..." />
			<div class="card-body text-white">
				<h5 class="card-title">{{ game.name }}</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Calification: {{ game.calification }}</li>
				<li class="list-group-item">{{ game.genre }}</li>
				<li class="list-group-item">Size: {{ game.downloadSize }}</li>
				<li class="list-group-item">{{ game.classification }}</li>
			</ul>
			<div class="card-body row">
				<button (click)="buyGame(game)" class="btn btn-warning">Comprar</button>
			</div>
		</div>
		}
	</div>
</div>
