<div class="bg">
	<div class="container text-white">
		<div class="row">
			<div class="col-12">
				<h2 class="mt-4 mb-3 text-warning fs-1">Heaven Forum</h2>

				<form [formGroup]="postForm" (ngSubmit)="addPost()">
					<div class="form-group text-center">
						<label for="postContent">New Post</label>
						<textarea formControlName="content" id="postContent" class="form-control" rows="3"></textarea>
					</div>
					<div class="form-group">
						<div class="row d-flex justify-content-between">
							<div class="col-12 mt-3 text-center col-sm-3">
								<label for="postRating">Rate Your Post</label>
							</div>
							<div class="col-12 col-sm-5 mt-sm-2">
								<select formControlName="rating" id="postRating" class="form-control text-center">
									<option [ngValue]="null" disabled>Select Your Rate</option>
									<option *ngFor="let rating of [5, 4, 3, 2, 1]" [ngValue]="rating">{{ rating }}</option>
								</select>
							</div>
							<div class="col-12 d-flex justify-content-center mt-3 col-sm-3 mt-sm-1">
								<button type="submit" class="btn btn-warning">Add Post</button>
							</div>
						</div>
					</div>
				</form>
				<hr />
			</div>
		</div>
	</div>
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col-12">
				<h4 class="text-warning fs-3">Community Posts</h4>
				<div class="row">
					<div *ngFor="let post of posts" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
						<div class="list-group-item" style="height: 22vh">
							<p>{{ post.content }}</p>
							<hr />
							<p class="text-center">
								<strong>Rate {{ post.rating }} </strong>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-3 separator"></div>
