.bg {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.bg-blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../../../assets/multimedia/fondoSupport.png");
	background-size: cover;
	background-position: center;
	filter: blur(3px); /* Ajusta el valor para más o menos desenfoque */
	z-index: -1;
}

.support-container {
	width: auto;
	margin: 23px;
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	color: white;
	padding: 7px;
	height: 74vh;
}

.support-container-2 {
	width: auto;
	margin: 23px;
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	color: white;
	padding: 10px;
}

.form-control {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	color: white;
}
.form-control:focus {
	background: rgba(255, 255, 255, 0.2);
}
::placeholder {
	color: white;
	opacity: 0.4;
	text-align: center;
}

.accordion-header {
	opacity: 0.7;
}

textarea {
	resize: none;
}

@media (max-width: 700px) {
	.bg {
		grid-template-columns: 1fr;
	}
	.support-container {
		height: 530px;
	}
}

@media (min-width: 700px) and (max-width: 1050px) {
	.bg {
		grid-template-columns: repeat(2, 1fr);
	}
	.support-container-2 {
		transform: translateX(55%);
	}
}
