.bg {
	margin: 0;
	padding: 0;
	height: 80vh;
	width: 100%;
	overflow: hidden;
}
.bg-blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../../../assets/multimedia/fondoSingUp.png");
	background-size: cover;
	background-position: center;
	filter: blur(5px); /* Ajusta el valor para más o menos desenfoque */
	z-index: -1;
}

.sing-container {
	max-width: 750px;
	margin: auto;
	margin-top: 140px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	color: white;
	padding: 10px;
}
.form-control {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	color: white;
}
.form-control:focus {
	background: rgba(255, 255, 255, 0.2);
}
